
{{> head }}



        {{> navbar }}


              <div class="row">
                    <div class="col-8">
                        <h2> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Esse qui commodi, minima officiis odit sequi reprehenderit, 
                             porro rem cumque expedita mollitia assumenda vel id ex atque voluptates, ab dicta similique?</h2>
                    </div>
                    <div class="col-8">
                        <img src={{ img }} alt="imagen del pity" class="img-thumbnail"/>
                    </div>
                  </div>

        {{> footer_scripts }}